.button {
  padding: 10px 10px 10px 23px;

  background-image: url('../../img/go-to-back.png');
  background-position: 5% 45%;
  background-color: transparent;
  background-size: 20%;
  background-repeat: no-repeat;
  border: transparent;
}
